<h1 class="mt-4">Lista de Registros</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input 
                    type="text" 
                    id="name" 
                    name="name" 
                    [(ngModel)]="filters.name" 
                    (ngModelChange)="onFilterChange()" 
                    placeholder="Name" 
                    class="form-control form-control-sm"
                />
            </td>
            <td>
                <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    [(ngModel)]="filters.email" 
                    (ngModelChange)="onFilterChange()" 
                    placeholder="Email" 
                    class="form-control form-control-sm"
                />
            </td>
            <td>
                <input 
                    type="text" 
                    id="phone" 
                    name="phone" 
                    [(ngModel)]="filters.phone" 
                    (ngModelChange)="onFilterChange()" 
                    placeholder="Telefone" 
                    class="form-control form-control-sm"
                />
            </td>
            <td>
                <select 
                    id="validated" 
                    name="validated" 
                    [(ngModel)]="filters.validated" 
                    (ngModelChange)="onFilterChange()"
                    class="form-control form-control-sm"
                >
                    <option value="1">Validado</option>
                    <option value="0">Não validado</option>
                </select>
            </td>
        </tr>
        <tr *ngFor="let register of registers" (click)="goToDetails(register.id)">
            <td>{{ register.name }}</td>
            <td>{{ register.email }}</td>
            <td>{{ register.phone || 'N/A' }}</td>
            <td>{{ register.validated ? 'Validado' : 'Não validado' }}</td>
        </tr>
    </tbody>
</table>
